/* CSS Document */
#pc ul {list-style-type: none; padding: 0; margin-left: 1em;}
#pc li {background-image: url(../../../images/page.gif); background-repeat: no-repeat; background-position: 0.1em; padding-left: 1em;}