/* CSS Document */
#navcontainer ul {list-style-type: none; padding: 0; margin: 0;}
#navcontainer a {display: block; color: #FFF; background-color: #036; width: 9em; padding: 3px 12px 3px 8px; text-decoration: none; border-bottom: 1px solid #fff; font-weight: bold;}
#navcontainer a:hover {background-color: #369; color: #FFF;}
#navcontainer li {margin: 0;}
#navcontainer li li a {display: block; color: #FFF; background-color: #67C; width: 9em; padding: 3px 3px 3px 17px; text-decoration: none; border-bottom: 1px solid #fff; font-weight: normal;}