/* History Internet */
.internet {font-size: 16px; color:#00CC66; font-style:italic;}
/* News */
table {width: 595px; table-layout: fixed;}
cols {width: 198px;}
/* School Reviews*/
#re div {height: 140px}
#re div div {width: 295px}